.candidate-info {
  padding: 20px;
  padding-bottom: 0;
}

.add-candidate-cta {
  color: white;
  background-color: #ff5252;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.add-candidate-cta:hover {
  background-color: #d93a3b;
}

.select-container {
  position: relative;
  margin-bottom: 20px !important;
}

.ats-destination-select {
  width: 100%;
  max-width: 100%;
  appearance: auto;
  font-size: 16px;
  height: auto;
  margin-bottom: 0 !important;
  padding: 10px;
  border: 1px solid rgba(104, 126, 136, 1);
  border-radius: 5px;
}

option[value="separator"] {
  color: #999;
  font-style: italic;
  pointer-events: none;
}

option {
  max-width: 100% !important;
}

.candidate-section-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.add-to-base {
  padding-top: 20px;
  position: relative;
}

.add-to-base::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: calc(100% + 40px);
  height: 1px;
  background-color: #e0e7eb;
  margin-left: -20px;
}

.candidate-phone-container {
  position: relative;
  padding-bottom: 10px;
}

.already-in-base-notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5ffe6;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.already-in-base-notification .notificaton {
  display: flex;
  align-items: center;
  gap: 10px;
}

.no-contacts-on-page {
  background-color: #fffde7;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100%;
}

.add-contacts-for-candidate {
  display: flex;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
}

.ats-in-base-link img {
  display: inline-block;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 15px;
}

.ats-in-base-link:hover img {
  width: 18px;
}

.add-contacts-explanation {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  max-width: 240px;
  text-align: center;
}

.or {
  display: flex;
  align-items: center;
}

.or-text {
  margin: 5px;
  color: #c8d1d6;
  font-size: 12px;
  line-height: 20px;
}

.or-line {
  height: 1px;
  background-color: #c8d1d6;
  width: 100%;
  position: relative;
}

.highlighting-input {
  box-shadow: inset 0 0 0 1px transparent;
  box-sizing: border-box;
  animation: highlighting 2s ease-in-out forwards;
}

@keyframes highlighting {
  0% {
    border-color: #687e88;
    box-shadow: inset 0 0 0 1px transparent;
    transform: scale(1);
  }
  50% {
    border-color: #3bc372;
    box-shadow: inset 0 0 0 2px #3bc372;
    transform: scale(1.015);
  }
  100% {
    border-color: #687e88;
    box-shadow: inset 0 0 0 1px transparent;
    transform: scale(1);
  }
}
